# URL donde se ejecutará tu frontend (React/Vite)
FRONTEND_URL=http://localhost:5173

# Credenciales para el envío de notificaciones (Simulación SMTP)
SMTP_USER=correo_municipalidad_pruebas@gmail.com
SMTP_PASSWORD=tu_password_seguro_aqui
